* {
    /* font-family: Arial, sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
  }
  h1{
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
}
  
  img {
    width: 100px;
  }
  table,tr,th{
    padding: 15px;;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100px;

  }
  table,tr,td{
    padding: 15px;;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100px;

  }
  table {
    margin: 50px;
    border-spacing: 50px;
    /* width:100%; */
    background-color: burlywood;
    border: 5px solid black;
  }
  th td {
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  form{
    background-color:brown;
    margin: 50px;
    border: 5px solid black;
    
  }
  form fieldset{
    padding: 10px;
  }
  img {
    width: 900px;
  }
  header{
      background-color:coral;
      padding: 25px;
      position: sticky;
      top: 0;
  }
  
  nav ul li{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 30px;;
    display: inline-block;
    
  }
  nav ul li a{
    text-decoration: none;
  }
  body{
    background-color:cadetblue;
    
  }
  #img p{
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
    padding: 30px;
  }
  #loc p{
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
    padding: 30px;
  }
  #loc ol li{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 30px;
  }
  #loc img{
    display: block;
    margin-left: auto;
   margin-right: auto;
    width: 400px;
    padding: 30px;
  }
  #hours p{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 30px;
  }
  #hours img{
    display: block;
    margin-left: auto;
   margin-right: auto;
    width: 400px;
    padding: 30px;
  }
  #contact p{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 30px;
  }
  #contact img{
    display: block;
    margin-left: auto;
   margin-right: auto;
    width: 400px;
    padding: 30px;
  }

#div1{
  width: 300px;
  height: 300px;
  border: 2px solid red;
}
#loc{
  border: 5px solid black;
  margin: 150px;
  background-color:darkgoldenrod;
}
  footer{
      background-color: chocolate;
  }

  
  
  