* {
    font-family: Arial, sans-serif;
  }
  img {
    width: 100px;
  }
  table,tr,th{
    padding: 15px;;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100px;

  }
  table,tr,td{
    padding: 15px;;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100px;

  }
  table {
    border-spacing: 50px;
    width:100%;
  }
  th td {
    text-align: center;
  }
  